{% extends 'base.html' %}
{% block body %}


<h1>Enter location information:</h1>
<form method="GET" action="/search">
  <label for="zip">Zipcode: <span class="loading"></span></label>
  <input id="zip" name="zip" value="94403" /><br>
</form>

<div>
  <input class="btn" id="search_submit" type="submit" value="Submit" onclick="callApi();">
</div>

<div id="map_canvas" style="width: 100vm; height: 600px;"></div>







{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Doggy Trails</a>
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/message_board">Message Board</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block head %}

<script>



  var geocoder; //To use later
  var map; //Your map
  var allWindows = [];
  function initMap() {

    geocoder = new google.maps.Geocoder();
    //Default setup
    var latlng = new google.maps.LatLng(37.827, -122.291);
    var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    map.setCenter(latlng);
  }



  function callApi() {
    // Url for the request 
    const zipcode = document.getElementById("zip").value;
    var url = '/search_api?zipcode=' + zipcode;
    const geoRequest = {
      address: zipcode
    };
    console.trace(url);
    // Making our request 
    fetch(url, { method: 'GET' })
      .then(Result => Result.json())
      .then(data => {
        allWindows = [];
        for (const row of data.users) {
          const address = row.address;
          var latlng = new google.maps.LatLng(row.lat, row.lng);
          map.setCenter(latlng);
          var marker = new google.maps.Marker({
            map: map,
            position: { lat: row.lat, lng: row.lng }
          });
          addMarker(row, marker);
        };
      })
      .catch(errorMsg => { console.log(errorMsg); });
  };

  function addMarker(row, marker) {
    const markerInfo = `
      <p>
        ${row.name} @ ${row.address}, ${row.zipcode}

      </p>
    `;

    const infoWindow = new google.maps.InfoWindow({
      content: markerInfo,
      maxWidth: 200,
    });
    allWindows.push(infoWindow);

    marker.addListener('click', () => {
      for (const aWindow of allWindows) {
        aWindow.close();
      }
      infoWindow.open(map, marker);
    });
  }

</script>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFB31etl8X7y0-VaeN4sA0xKUMnuS4ixg&callback=initMap">
  </script>

{% endblock %}