{% extends 'base.html' %}
{% block title %}Doggy Trails Signup{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#" style="margin-left: 30px;">Doggy Trails</a>
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/" style="margin-right: 30px;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" style="margin-right: 30px;">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup" style="margin-right: 30px;">Signup</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block body %}
<div id='bg' style="background-image: url('static/images/crop1.jpg'); background-size: cover; height: 100vh;"
  class="background-image">
  <!-- <img src="static/images/crop1.jpg" class="dog1"> -->
  <h1 style="text-align: center;">Welcome to Doggy Trails!</h1>

  <div class="container" style="background-color: transparent;">
    <div class="row justify-content-center">
      <!-- <div class="col-lg-4 opacity-0"></div> -->
      <div class="col-4" style="background-color: white; border-radius: 25px; margin: 50px; padding: 40px;">
        <form action="/signup" method="post">
          <div class="form-group">
            <label for="emailOne" class=""><b>Email</b></label>
            <input id="emailOne" type="text" class="form-control" placeholder="Enter Email" name="email"
              value="honey@gmail.com" required>
          </div>
          <div class="form-group">
            <label for="passwordOne" class=""><b>Password</b></label>
            <input id="passwordOne" type="password" class="form-control" placeholder="Enter Password" name="password"
              value="12345" required>
          </div>

          <br>
          <div>
            <button type="submit" class="form-control btn btn-primary signupbtn">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}