{% extends 'base.html' %}
{% block title %}Doggy Trails Signup{% endblock %}

{% block body %}
  <h1 style="text-align: center;">Welcome to Doggy Trails!</h1>

  
  <form action="/signup" method="post" style="">
    <div class="container form-group form-row">
      <h1>Sign Up</h1>
  
      <label for="email" style=""><b>Email</b></label>
      <input type="text" class="col-lg-4 offset-4 d-flex justify-content-center box" placeholder="Enter Email" name="email" value="honey@gmail.com" required>
  
      <label for="psw" style=""><b>Password</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" name="password" value="12345" required>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </form>
{% endblock %}