{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#" style="margin-left: 30px;">Doggy Trails</a>
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/message_board">Message Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block body %}
<div id='bg' style="background-image: url('static/images/crop1.jpg'); background-size: cover; height: 100vh;"
  class="background-image">
  <form action="/POST_user_profile" class="profile_form" method="post" enctype="multipart/form-data">
    <div class="container" style="background-color: transparent;">
      <div class="row" style="background-color: white; border-radius: 25px; margin-top: 50px; margin-right: 250px; margin-left: 150px; padding: 13px">
        <div class="col">

          <h3>User info</h3>

          <div>
            <label>Image:
              <input type="file" id="myFile1" name="user_image" class="form-control file-input" required>
            </label>
          </div>

          <div>
            <label>Name:
              <input type="text" class="form-control" placeholder="Name" name="user_name" value="Kat" required>
            </label>
          </div>

          <div>
            <label>Zipcode:
              <input type="text" class="form-control" placeholder="location" name="zipcode" value="94403" required>
            </label>
          </div>

          <div>
            <label>Address:
              <input type="text" class="form-control" placeholder="address" name="address" value="3708 colegrove street"
                required>
            </label>
          </div>

        </div>
        <div class="col">

          <h3>Doggo's info</h3>

          <div>
            <label for="myFile2" class="form-label">Image:
              <input type="file" id="myFile2" name="dog_image" class="form-control" required>
            </label>
          </div>

          <div>
            <label for="nameInput">Name:
              <input id="nameInput" type="text" class="form-control" placeholder="Name" name="dog_name" value="honey"
                required>
            </label>
          </div>
          <div>
            <label>Breed:
              <input type="text" class="form-control" placeholder="Breed" name="breed" value="chihuahua" required>
            </label>
          </div>

          <div>
            <label>Gender:
              <input type="text" class="form-control" placeholder="Gender" name="gender" value="female" required>
            </label>
          </div>

          <div>
            <label>Age:
              <input type="number" class="form-control" placeholder="age" name="age" value="2" required>
            </label>
          </div>

        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="offset-5 col-1">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}